<div class="container">
  <div class="row">
    <div class="col s12">
      {{x-example name='basic-input'}}
      {{x-example name='icon-input'}}
      {{x-example name='basic-textarea'}}
      {{x-example name='basic-select'}}
    </div>
  </div>
</div>


{{outlet}}
